
<h2>Latest posts</h2>

{% for discussion in latest_posts_list %}

    <div class="post">
        <h1><a href="{% url 'discussions:discussion' chair_slug=discussion.course.chair.slug course_slug=discussion.course.slug pk=discussion.id %}">{{ discussion.title }}</a></h1>
        <p>{{ discussion.content }}</p>

        <div class="meta">
            {{ discussion.created_at }} |
            rating: {{ discussion.score }}
        </div>
    </div>

{% empty %}
    <p>No posts are available.</p>
{% endfor %}


