{% load staticfiles %}

<html>
<head>
    <title>lol</title>
    <link href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'bootstrap/navbar-fixed-side.css' %}" rel="stylesheet">
</head>
<body>


<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Project name</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Dashboard</a></li>
                <li><a href="#">Settings</a></li>
                <li><a href="#">Profile</a></li>
                <li><a href="#">Help</a></li>
            </ul>
            <form class="navbar-form navbar-right">
                <input type="text" class="form-control" placeholder="Search...">
            </form>
        </div>
    </div>
</nav>


<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-lg-2">
            <nav class="navbar navbar-default navbar-fixed-side">
                <div class="container">
                    <div class="navbar-header">
                        <button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="./">BS3 Side Navbar</a>
                    </div>
                    <div class="collapse navbar-collapse" style="margin-top: 50px;">
                        <ul class="nav navbar-nav">
                            <li class="discussions">
                                 <a href="#discussions" id="discussions-tab" role="tab" data-toggle="tab" aria-controls="discussions"
                                   aria-expanded="false">Discussions</a>
                            </li>

                            <li class="documents">
                                 <a href="#documents" id="documents-tab" role="tab" data-toggle="tab" aria-controls="documents"
                                   aria-expanded="false">Documents</a>
                            </li>

                             <li class="guides">
                                 <a href="#guides" id="guides-tab" role="tab" data-toggle="tab" aria-controls="guides"
                                   aria-expanded="false">Guides</a>
                            </li>

                             <li class="videos">
                                 <a href="#videos" id="videos-tab" role="tab" data-toggle="tab" aria-controls="videos"
                                   aria-expanded="false">Videos</a>
                            </li>

                        </ul>
                    </div>
                </div>
            </nav>
        </div>

        <div class="col-sm-9 col-lg-10">
            <div id="content" class="tab-content">
            dasdsadasdasdas
            </div>
        </div>
    </div>
</div>


<!-- Bootstrap core JavaScript
   ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
<script>
    $(document).ready(function () {
        $('.discussions').click(function () {
            $('#content').load('{% url 'core:logout' %}');
        });
    })

    $(document).ready(function () {
        $('.documents').click(function () {
            $('#content').load('{% url 'core:register' %}');
        });
    })
</script>

</body>
</html>
