{% extends "base.html" %}
{% load staticfiles %}

{% block title %} Курсы {% endblock %}


{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-lg-2">
            <nav class="navbar navbar-default navbar-fixed-side">
                <div class="container">
                    <div class="navbar-header">
                        <button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <!--<span class="icon-bar"></span>-->
                            <!--<span class="icon-bar"></span>-->
                        </button>
                        <!--<a class="navbar-brand" href="./">BS3 Side Navbar</a>-->
                    </div>
                    <div class="collapse navbar-collapse" style="margin-top: 50px;">
                        <ul class="nav navbar-nav">
                            <li>
                                <h3 align="center">{{ course.title }}</h3>
                            </li>
                            <li class="discussions">
                                <a href="#discussions" id="discussions-tab" role="tab" data-toggle="tab"
                                   aria-controls="discussions"
                                   aria-expanded="false">Вопросы</a>
                            </li>

                            <li class="documents">
                                <a href="#documents" id="documents-tab" role="tab" data-toggle="tab"
                                   aria-controls="documents"
                                   aria-expanded="false">Документы</a>
                            </li>

                            <li class="guides">
                                <a href="#guides" id="guides-tab" role="tab" data-toggle="tab" aria-controls="guides"
                                   aria-expanded="false">Пособия</a>
                            </li>

                            <li class="videos">
                                <a href="#videos" id="videos-tab" role="tab" data-toggle="tab" aria-controls="videos"
                                   aria-expanded="false">Видео</a>
                            </li>

                            <li class="course-info">
                                <a href="#course-info" id="course-info-tab" role="tab" data-toggle="tab"
                                   aria-controls="course-info"
                                   aria-expanded="false">Информация о курсе</a>
                            </li>

                            <li class="course-news">
                                <a href="#course-news" id="course-news" role="tab" data-toggle="tab"
                                   aria-controls="course-news"
                                   aria-expanded="false">Новости</a>
                            </li>

                            <li class="course-members">
                                <a href="#course-members" id="course-members" role="tab" data-toggle="tab"
                                   aria-controls="course-members"
                                   aria-expanded="false">Участники</a>
                            </li>

                            {% if user.is_authenticated %}
                            <li class="add-course">
                                <a href="#add-course" id="add-course" role="tab" data-toggle="tab"
                                   aria-controls="add-course"
                                   aria-expanded="false">Добавить курс</a>
                            </li>
                            {% endif %}

                        </ul>
                    </div>
                </div>
            </nav>
        </div>

        <div class="col-sm-9 col-lg-10" style="margin-top: 80px;">
            <div id="content">
            </div>
        </div>
    </div>
</div>


<!-- Bootstrap core JavaScript
   ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
<script>
    $(document).ready(function () {
        $('.course-info').click(function () {
            $('#content').load('{% url 'courses:course_info' chair_slug=chair.slug course_slug=course.slug %}');
        });
        $('.discussions').click(function () {
            $('#content').load('{% url 'discussions:discussions_ajax' chair_slug=chair.slug course_slug=course.slug %}');
        });

        $('.documents').click(function () {
            $('#content').load('{% url 'docs:docs_ajax' chair_slug=chair.slug course_slug=course.slug %}');
        });

         $('.guides').click(function () {
            $('#content').load('{% url 'core:guides' %}');
        });

        $('.course-news').click(function () {
            $('#content').load('{% url 'discussions:discussions_ajax_news' chair_slug=chair.slug course_slug=course.slug %}');
        });

        $('.course-members').click(function () {
            $('#content').load('{% url 'courses:course_members' chair_slug=chair.slug course_slug=course.slug %}');
        });

        $('.videos').click(function () {
            $('#content').load('{% url 'core:video' %}');
        });

        $('.add-course').click(function(){
      $.ajax({
               type: "POST",
               url: "{% url 'courses:add_course' chair_slug=chair.slug course_slug=course.slug  %}",
               data: {'csrfmiddlewaretoken': '{{ csrf_token }}'},
               dataType: "json",
               success: function(response) {
                      alert(response.message);
                },
                error: function(rs, e) {
                       alert(rs.responseText);
                }
          });
    });
    })
</script>

{% endblock %}
