{% extends "base.html" %}

{% load staticfiles %}

{% block head %}
<link href="{% static 'bootstrap/css/jumbotron-narrow.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="jumbotron">
    <h1 style="margin-left: 50px;">Кафедры</h1>
</div>
<div class="container">
    <div class="row equal" data-toggle="buttons-radio">
        {% for chair in chairs %}
        <div class="col-md-4">
            <a href="{% url 'core:courses' chair.slug %}" class="btn btn-default btn-block">
                <h2>{{ chair.title }}</h2>
                {# <img src="image/mipt.png" data-src="holder.js/100%x180" alt="...">#}
            </a>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
