{% load staticfiles %}

<html>
<head>
    {% block title %}<title>lol</title> {% endblock %}
    <link href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'bootstrap/navbar-fixed-side.css' %}" rel="stylesheet">
    {% block head %} {% endblock %}
</head>
<body>


<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">PhystechEdu</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Новости</a></li>
                {% if user.is_authenticated %}
                    <li><a href="#">Профиль</a></li>
                    <li><a href="{% url 'core:logout' %}">Выйти</a></li>
                {% else %}
                    <li><a href="{% url 'core:login' %}">Войти</a></li>
                    <li><a href="{% url 'core:register' %}">Регистрация</a></li>
                {% endif %}

                <li><a href="#">Информация</a></li>
            </ul>
            <form class="navbar-form navbar-right">
                <input type="text" class="form-control" placeholder="Search...">
            </form>
        </div>
    </div>
</nav>

{% block content %}

{% endblock %}
